! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: #2f343f, #2f343f, #f3f4f5
rofi.color-normal: #2f343f, #c1c1c1, #2f343f, #446cb3, #ffffff
rofi.color-active: #2f343f, #80cbc4, #2f343f, #446cb3, #80cbc4
rofi.color-urgent: #2f343f, #ff1844, #2f343f, #446cb3, #ff1844
rofi.font: Inconsolata 14
rofi.eh: 2


! ------------------------------------------------------------------------------
! Urxvt Settings 
! ------------------------------------------------------------------------------
URxvt.font:                xft:Inconsolata:size=14
URxvt.boldFont:            xft:Inconsolata:size=14:bold
URxvt.italicFont:          xft:Inconsolata:size=14:italic
URxvt.boldItalicFont:      xft:Inconsolata:size=14:bold:italic
URxvt.letterSpace:         -1

! special
URxvt.foreground:   #e6e1dc
URxvt.background:   #262528
URxvt.cursorColor:  #e6e1dc

URxvt.internalBorder:      0
URxvt.externalBorder:      0

URxvt.scrollBar:           false

URxvt*fading:              30

URxvt.perl-ext-common:     matcher,resize-font

URxvt.resize-font.smaller: C-minus
URxvt.resize-font.bigger:  C-plus

URxvt.url-launcher:        /usr/bin/firefox
URxvt.colorUL:             #7780a1
