! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: #2f343f, #2f343f, #f3f4f5
rofi.color-normal: #2f343f, #c1c1c1, #2f343f, #446cb3, #ffffff
rofi.color-active: #2f343f, #80cbc4, #2f343f, #446cb3, #80cbc4
rofi.color-urgent: #2f343f, #ff1844, #2f343f, #446cb3, #ff1844
rofi.font: Inconsolata 14
rofi.eh: 2


! ------------------------------------------------------------------------------
! Urxvt Settings 
! ------------------------------------------------------------------------------
URxvt.font:                xft:Inconsolata:pixelsize=19
URxvt.boldFont:            xft:Inconsolata:pixelsize=19:bold
URxvt.italicFont:          xft:Inconsolata:pixelsize=19:italic
URxvt.boldItalicFont:      xft:Inconsolata:pixelsize=19:bold:italic
URxvt.letterSpace:         -1

! special
URxvt.foreground:   #e6e1dc
URxvt.background:   #272b37
URxvt.cursorColor:  #e6e1dc

! black
URxvt.color0:       #272b37
URxvt.color8:       #5a647e

! red
URxvt.color1:       #dc6a5d
URxvt.color9:       #dc6a5d

! green
URxvt.color2:       #9dbf4b
URxvt.color10:      #92bb32

! yellow
URxvt.color3:       #f3a936
URxvt.color11:      #ffc66d

! blue
URxvt.color4:       #708cda
URxvt.color12:      #899ee8

! magenta
URxvt.color5:       #b6b3eb
URxvt.color13:      #b6b3eb

! cyan
URxvt.color6:       #4ebc4d
URxvt.color14:      #52bb50

! white
URxvt.color7:       #e6e1dc
URxvt.color15:      #f9f7f3


URxvt.internalBorder:      0
URxvt.externalBorder:      0

URxvt.scrollBar:           false

URxvt*fading:              30

URxvt.perl-ext-common:     matcher,resize-font

URxvt.resize-font.smaller: C-minus
URxvt.resize-font.bigger:  C-plus

URxvt.url-launcher:        /usr/bin/firefox
URxvt.colorUL:             #7780a1
